
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEnderecoLabel" data-translate="opalaApp.endereco.home.createOrEditLabel">Create or edit a Endereco</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.endereco.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.endereco.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalaApp.endereco.linha1" for="field_linha1">Linha 1</label>
            <input type="text" class="form-control" name="linha1" id="field_linha1"
                    ng-model="vm.endereco.linha1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalaApp.endereco.linha2" for="field_linha2">Linha 2</label>
            <input type="text" class="form-control" name="linha2" id="field_linha2"
                    ng-model="vm.endereco.linha2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalaApp.endereco.cidade" for="field_cidade">Cidade</label>
            <input type="text" class="form-control" name="cidade" id="field_cidade"
                    ng-model="vm.endereco.cidade"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalaApp.endereco.estado" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="vm.endereco.estado"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalaApp.endereco.cep" for="field_cep">Cep</label>
            <input type="text" class="form-control" name="cep" id="field_cep"
                    ng-model="vm.endereco.cep"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
