<div>
    <h2 data-translate="opalaApp.agendamento.home.title">Agendamentos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="agendamento.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="opalaApp.agendamento.home.createLabel">
                        Create new Agendamento
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'opalaApp.agendamento.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="data"><span data-translate="opalaApp.agendamento.data">Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroRequisicao"><span data-translate="opalaApp.agendamento.numeroRequisicao">Numero Requisicao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="centroCusto"><span data-translate="opalaApp.agendamento.centroCusto">Centro Custo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="referencia"><span data-translate="opalaApp.agendamento.referencia">Referencia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valor"><span data-translate="opalaApp.agendamento.valor">Valor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="observacao"><span data-translate="opalaApp.agendamento.observacao">Observacao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="opalaApp.agendamento.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sentido"><span data-translate="opalaApp.agendamento.sentido">Sentido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pagamento"><span data-translate="opalaApp.agendamento.pagamento">Pagamento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categoria"><span data-translate="opalaApp.agendamento.categoria">Categoria</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clienteId"><span data-translate="opalaApp.agendamento.cliente">Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="motoristaId"><span data-translate="opalaApp.agendamento.motorista">Motorista</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="origemId"><span data-translate="opalaApp.agendamento.origem">Origem</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="solicitanteId"><span data-translate="opalaApp.agendamento.solicitante">Solicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="veiculoId"><span data-translate="opalaApp.agendamento.veiculo">Veiculo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="itinerarioId"><span data-translate="opalaApp.agendamento.itinerario">Itinerario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="agendamento in vm.agendamentos track by agendamento.id">
                    <td><a ui-sref="agendamento-detail({id:agendamento.id})">{{agendamento.id}}</a></td>
                    <td>{{agendamento.data | date:'medium'}}</td>
                    <td>{{agendamento.numeroRequisicao}}</td>
                    <td>{{agendamento.centroCusto}}</td>
                    <td>{{agendamento.referencia}}</td>
                    <td>{{agendamento.valor}}</td>
                    <td>{{agendamento.observacao}}</td>
                    <td data-translate="{{'opalaApp.Status.' + agendamento.status}}">{{agendamento.status}}</td>
                    <td data-translate="{{'opalaApp.Sentido.' + agendamento.sentido}}">{{agendamento.sentido}}</td>
                    <td data-translate="{{'opalaApp.Pagamento.' + agendamento.pagamento}}">{{agendamento.pagamento}}</td>
                    <td data-translate="{{'opalaApp.Categoria.' + agendamento.categoria}}">{{agendamento.categoria}}</td>
                    <td>
                        <a ui-sref="cliente-detail({id:agendamento.clienteId})">{{agendamento.clienteId}}</a>
                    </td>
                    <td>
                        <a ui-sref="motorista-detail({id:agendamento.motoristaId})">{{agendamento.motoristaId}}</a>
                    </td>
                    <td>
                        <a ui-sref="endereco-detail({id:agendamento.origemId})">{{agendamento.origemId}}</a>
                    </td>
                    <td>
                        <a ui-sref="solicitante-detail({id:agendamento.solicitanteId})">{{agendamento.solicitanteId}}</a>
                    </td>
                    <td>
                        <a ui-sref="veiculo-detail({id:agendamento.veiculoId})">{{agendamento.veiculoId}}</a>
                    </td>
                    <td>
                        <a ui-sref="itinerario-detail({id:agendamento.itinerarioId})">{{agendamento.itinerarioId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="agendamento-detail({id:agendamento.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="agendamento.edit({id:agendamento.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="agendamento.delete({id:agendamento.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
